@font-face {
    font-family: logoFont;
    src: url(./fonts/Exo-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: hotsFont;
    src: url(./fonts/Exo-Light.ttf);
}

.header {
  display:flex;
  justify-content: center;
  /* background-image: url(./images/logo-back.jpg); */
}

.search-box {
  padding: 50px;
}

video {
    object-fit: contain;
}

#bg-video {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -100;
    transition: opacity 1.0s ease-in-out;
}

a {
  color: white;
}

.logo {
  font-family: logoFont;
}

.logo-image {
  max-width: 100%;
  max-height: 100%;
}

.app-root {
   background-color: #070110;
   font-family: hotsFont;
   color: #fff;
   text-shadow: 2px 2px #5b0a87;
   width: 50%;
}

.heroes-preview {
  /*margin: auto;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-preview {
  margin: 5px;
  border-style: solid;
  border-color: #6DB1EB;
  border-width: 2px;
}

.hero-preview-image {
  /*height: 130px;
  width: 81px; */
  height: 15%;
  border-style: solid;
  border-color: #6DB1EB;
  border-width: 2px;
}

.hero-preview-tooltip {
  border-top-color: #6DB1EB !important;
  border-top-style: solid !important;
  border-top-width: 4px !important;
}

.hero-name {
  font-weight: bold;
}

.hero-details-name {
  font-size: 20px;
  margin: 5px 0px;
}

.hero-abilities {
  display:inline-block;
  background-color: #6DB1EB;
}

.hero-tooltip {
  max-width: 250px;
  display: inline-block;
  word-wrap: break-word;
  border-top-color: #6DB1EB !important;
  border-top-style: solid !important;
  border-top-width: 4px !important;
}

.hero-abilities-image {
  width: 50px;
  height: 50px;
  margin: 1px 1px;
}

.hero-talent {
  display: inline-block;
   /** background-color: #6DB1EB; */
}

.hero-talent-image {
  width: 50px;
  height: 50px;
  margin: 1px 1px;
}

.link {
  cursor: pointer;
}

.hero-talentTier {
  margin: 10px;
}

.hero-talentTier-level {
  margin: 10px;
}

.hero-body {
  display: flex;
}

.hero-details-builds {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

}

.hero-details-build {
  max-width: 200px;
  flex-grow: 1;
  margin: 10px 10px;
  padding: 5px;
}

.highlight {
  border-width: 2px;
  border-style: solid;
  border-color: gold;
}

/*SEARCH-STYLING*/
.react-autosuggest__container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.react-autosuggest__input {
  width: 100%;
  height: 50px;
  padding-left: 5px;
  font-family: hotsfont;
  font-size: 20px;
  color: white;
  border: 1px dotted #6DB1EB;
  background-color: #070110;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #6DB1EB;
  background-color: #070110;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--focused {

  color: yellow;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #6DB1EB;
}

a.link, a:visited, a:hover, a:active {
  font-family: hotsfont;
  color:inherit;
  text-decoration: none;
}
.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}
